<% if @user.errors.any? %>
  <%= @user.errors.count %>件のエラーが発生しました
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<h2>User info</h2>
<%= form_with model: @user do |f| %>
  <label for="inputName">Name:</label>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>

  <br><label for="inputImage">Image</label>
  <%= f.file_field :profile_image, placeholder: "Image", accept: "image/*" %>
 <p>introduction<br> <%= f.text_area :introduction %></p>
  <%= f.submit "Update User" %>
<% end %>