<%= render 'users/show', users:@users %>
<%= render 'books/new', books:@books %>


<h1>Index</h1>
<% @users.each do |user| %>

<%= image_tag user.get_profile_image %>
<%= user.name %>
<%= link_to "Show", "/books/#{@book.id}" %>

<% end %>