<h1>Book detil</h1>

 <%= link_to @user.name, user_path(@user) %>
  <%= @book.title %>
  <%= @book.body %>
<% if @book.user_id == current_user.id %>
 <%= link_to "Edit", edit_book_path(@book) %>
 <%= link_to "Destroy", books_path(@books), method: :delete, data: {confirm: "本当に消しますか？"} %>
<% end %>